#headshot-image {
  margin-top: 1em;
  height: 200px;
  border-radius: 100%;
}

#about-content {
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 30px;

  p {
    text-align: justify;
  }
}