#headshot-image {
  align-self: center;
  border-radius: 100%;
  box-shadow: $box-shadow;
  height: 280px;
  margin: 0 auto;
  order: 1;
}

#about-content {
  background-color: $background-overlay;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 4fr 1fr;
  max-width: 1000px;
  padding: 20px 30px;

  p {
    text-align: justify;
  }
}

#about-text {
  margin: 0;
}

@media screen and (max-width: 900px) {
  #about-content {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  #headshot-image {
    margin-top: 20px;
    order: -1;
  }
}

@media screen and (max-width: 400px) {
  #headshot-image {
    height: 230px;
  }
}

@media screen and (max-width: 350px) {
  #headshot-image {
    height: 200px;
  }
}