.logo {
  height: 100px;
  margin-bottom: 5px;
}

#contact-headshot {
  border-radius: 100%;
}

#contact-content {
  display: grid;
  grid-gap: 60px;
  grid-template-columns: repeat(auto-fill, 100px);
  margin-top: 50px;
  text-align: center;

  span {
    display: block;
    
  }
}

@media screen and (max-width: 500px) {
  #contact-content {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}