h3 {
  font-family: $body-font;
  font-weight: 400;
}

.screenshots {
  width: 400px;
  box-shadow: $box-shadow;
}

#portfolio-content {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, 420px);
}

@media screen and (max-width: 450px) {
  #portfolio-content {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .screenshots {
    width: 300px;
  }
}

@media screen and (max-width: 350px) {
  .screenshots {
    width: 260px;
  }
}