h3 {
  font-family: $body-font;
  font-weight: 400;
}

.screenshots {
  width: 400px;
  box-shadow: $box-shadow;
}

#portfolio-content {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, 420px);
}