$background-overlay: hsla(0,0%,50%,0.2);
$body-font: 'Open Sans', sans-serif;
$box-shadow: 2px 2px 5px grey;
$link-hover: purple;
$page-padding: 20px 30px;
$title-font: 'Poiret One', cursive;
$title-text-color: slategray;